{{ partial "head.html" . }}
<body>

{{ partial "sidebar.html" . }}

    <div class="content container">
<div class="post">
  <h1>{{ .Title }}</h1>
  <span class="post-date">
    {{ .Date.Format "Mon, Jan 2, 2006" }}
    {{ if eq .Type "post" }}
    <a 
      class="twitter-share-button" 
      href="https://twitter.com/share"
      data-via="sajal"
      data-text="{{ .Title }}" 
      data-url="http://www.sajalkayan.com{{ .RelPermalink }}"
      >
      Tweet
    </a>
    <a 
      href="http://news.ycombinator.com/submit"
      class="hn-share-button"
      data-title="{{ .Title }}"
      data-url="http://www.sajalkayan.com{{ .RelPermalink }}"
      >
      Vote on HN
    </a>
    <!-- <span id="redditbutton"></span> -->
    {{ end }}
  </span>
      {{ .Content }}
      {{ if eq .Type "post" }}
      <div>
  Tags: {{ range .Params.tag }} 
    <a href="/tag/{{ . | lower | urlize }}">{{ . }}</a> </li>
  {{ end }} <br />
  Categories: {{ range .Params.category }} 
    <a href="/category/{{ . | lower | urlize }}">{{ . }}</a> </li>
  {{ end }} <br />

</div>
      <div id="disqus_thread"></div>
<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'sajal';
		var disqus_title = '{{ .Title }}';
		var disqus_url = 'http://www.sajalkayan.com{{ .RelPermalink }}';

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function(w, d, s) {
			function go(){
				var dsq = d.createElement(s); 
				dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
				(d.getElementsByTagName('head')[0] || d.getElementsByTagName('body')[0]).appendChild(dsq);
			}
		if (w.addEventListener) { w.addEventListener("load", go, false); }
		else if (w.attachEvent) { w.attachEvent("onload",go); }
		}(window, document, 'script'));

</script>
<script type="text/javascript">
window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
</script>
<script src="/hn.min.js" async defer></script>
<script type="text/javascript">
/*
reddit_url='http://www.sajalkayan.com{{ .RelPermalink }}';
//This is a very dirty hack stollen from http://stackoverflow.com/a/9149388/135625
window.onload = function() {
    var oScript = document.createElement("script");
    document.write = function(text) {
        document.getElementById("redditbutton").innerHTML += text;
    };
    oScript.src = "//www.redditstatic.com/button/button1.js";
    document.body.appendChild(oScript);
};
*/
</script>

      {{end}}
</div>
</div>

  </body>
</html>
